::-webkit-scrollbar {
  display: none;
}

.load {
  position: absolute;
  top: 20%;
  left: 45%;
}

.pg-right {
  float: right;
}

.sel-right {
  width: 10%;
}

.table-overflow {
  height: 560px;
  overflow: scroll;
}